@tailwind base;
@tailwind components;
@tailwind utilities;

/* Petites animations bulles de fond */
@keyframes bubble {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
    opacity: 0;
  }
}

.bubble {
  position: absolute;
  bottom: -10%;
  border-radius: 9999px;
  animation: bubble 20s infinite;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-2000 {
  animation-delay: 2s;
}

.delay-4000 {
  animation-delay: 4s;
}

.delay-6000 {
  animation-delay: 6s;
}
